/* Importing Google Fonts - Inter */
@import url("https://fonts.googleapis.com/css2?family=sans-serif:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#eeeeff, #c8c7ff);
}


header {
    background: #0f3e84;
    position: sticky;
    width: 100%;
    margin-top: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px;
  }
  
  .navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar .logo img {
    width: 40px;
    border-radius: 50%;
  }
  
  .navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
  }
  
  .navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
  }
  
  .navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
  }
  
  .navbar .links a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
  }
  
  .navbar .links a:hover {
    color: #19e8ff;
  }
  
  .navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
  }
  
  .navbar .login-btn:hover {
    background: #ddd;
  }
  
 
  
 
  


  


  
@media (max-width: 950px) {

  
    .navbar {
      padding: 15px 0;
    }
  
    .navbar .logo img {
      display: none;
    }
  
    .navbar .logo h2 {
      font-size: 1.4rem;
    }
  
    .navbar .links {
      position: fixed;
      top: 0;
      z-index: 10;
      left: -100%;
      display: block;
      height: 100vh;
      width: 100%;
      padding-top: 60px;
      text-align: center;
      background: #fff;
      transition: 0.2s ease;
    }
  
    .navbar {
      left: 0;
    }
  
    .navbar .links a {
      display: inline-flex;
      margin: 20px 0;
      font-size: 1.2rem;
      color: #000;
    }
  
  
  
    .navbar .login-btn {
      font-size: 0.9rem;
      padding: 7px 10px;
    }
  }
  
  .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 50%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 58%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #364687;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    z-index: 2 !important; /* Add this to ensure the button is on top */
    
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #364687;
}
.profile-work{
    padding: 14%;
    margin-top: 1%;
    z-index: 1 !important; /* Add this to ensure the button is on top */
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #364687;
}
